# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
myenv/

# Django-specific files
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media and static files
/media/
/staticfiles/

# Local settings
settings_local.py

# Test coverage and test output
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.coveragerc
htmlcov/

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Package files
*.egg
*.egg-info/
dist/
build/
